
.dashboard-container{
  background-color: white;
  width: 15%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.user-item{
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 10px;
  background-color:transparent;
  box-shadow: 1px 1px 5px gray;
  color: black;
  font-weight: bold;
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.users-main-title{
    margin-bottom:20px;
}
