.ToolsBarContainer{
    background-color: white;
    width:25%;
    height:100%;
    border:1px solid black;
    border-radius:20px;
    padding:20px;
    display:flex;
    flex-direction: column;
}

.ToolsBarButtonBox{
    display:flex;
    flex-direction: row;
    margin:20px 10px;
}
.active{
  color: rgb(16, 143, 216);
  font-weight: bold;
    
}


.toolButton{
    border:0px;
    padding-left:10px;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
}

.ToolsBarButtonBox:hover{
    color: rgb(16, 143, 216);
}

.colorSelector{
    width:100%;
    height:40px;
    border:none;
    cursor:pointer;
    margin:10px;

}

.brushWidthSelector{
    width:100%;
    height:40px;
    border:none;
    cursor:pointer;
    margin:10px;
}

.BottomButtonsBox{
    display:flex;
    flex-direction:column;
}



.tglbtn{
    border-radius:10px;
    font-weight: bold;
  cursor: pointer;
    padding:10px 20px;
    border:none;
    font-size:25px;
    margin:20px 0px


}

.SaveButton{
    background-color:rgb(36, 146, 225);
}
.ClearButton{
    background-color:transparent;
    border:1px solid black;
}