.ToolsBarContainer {
  background-color: white;
  width: 15%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.mainTitle{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ToolsBarButtonBox {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
}
.active {
  color: rgb(16, 143, 216);
  font-weight: bold;
}

.toolButton {
  border: 0px;
  padding-left: 10px;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.ToolsBarButtonBox:hover {
  color: rgb(16, 143, 216);
}

.colorSelector {
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 220px;
}

.brushWidthSelector {
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.BottomButtonsBox{
  display:flex;
  flex-direction: column;
}

.bottomBtns{
  width: 100%;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  margin: 20px 0px;
}

.ClearButton {
  background-color: rgb(31, 125, 240);
  border-radius: 10px;
  color: white;
}

.ExitButton {
  background-color:transparent;
  border:1px solid black;
  border-radius: 10px;
  color: black;
} 


.RoomButton {
  background-color:transparent;
  border-radius: 10px;
  color: black;
  border: 2px solid black;
}

.RoomIdDisplay{
  align-self: center;
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
  margin: 10px 0px;
  padding: 10px 20px;
  border:1px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: indigo;
}

.ReactModal__Content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modalButton {
  width:200px;
  padding:10px;
  margin: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  font-size:20px;
  border-radius: 5px;
  cursor: pointer;
}

.modalBackButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.modalBackButton svg {
  margin-right: 5px;
}

.ContentAlignment{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.modalInput{
  width: 80%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.RoomModeSelection{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}